# General
*~
*.swp
*.swo

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python
*.~
*.log
*.pot
*.py,cover
.coverage
.coverage.*
.cache
.hypothesis/
.pytest_cache/

# Virtualenv
.env
.venv
env/
venv/
ENV/
VENV/

# IDE
.idea/
.vscode/

# Project-specific
AllSets.json
AllSets-x.json
AllPrintings.json
VintagePrintings.json
*.zip
Vintage.json
*.csv
*.pt
*.png
*.txt
customcards.json
decoded.json
encoded.txt
sampled.txt
summary.txt
mechanics.txt
loss_plot.png
checkpoint.pt
!README.md
!LICENSE
!requirements.txt
!CUSTOM.md
!DEPENDENCIES.md
!mechanics.txt