# General
*~
*.swp
*.swo

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python
*.~
*.log
*.pot
*.py,cover
.coverage
.coverage.*
.cache
.hypothesis/
.pytest_cache/

# Virtualenv
.env
.venv
env/
venv/
ENV/
VENV/

# IDE
.idea/
.vscode/

# Project-specific
AllSets.json
AllSets-x.json
AllPrintings.json
VintagePrintings.json
*.zip
Vintage.json
*.csv